<div class="container">
  <div class="header">
    <h1>Voice Control Demo</h1>
    <button (click)="handleMic()" *ngIf="isMicOn">
      <img src="../assets/microphone-svgrepo-com.svg" alt="Mic On Icon" />
    </button>
    <button (click)="handleMic()" *ngIf="!isMicOn">
      <img src="../assets/mic-off-svgrepo-com.svg" alt="Mic off Icon" />
    </button>
  </div>

  <section class="speech_section">
    <div class="speech_header">
      <h1>Original Text From Speech Recognition</h1>
    </div>
    <div class="speech_body">
      {{userSpeech}}
    </div>
  </section>

  <section class="command_section">
    <div class="left">
      <div class="command_header">
        <div class="col">
          <h5>Matched Command</h5>
        </div>
      </div>
      <div class="body_row" *ngFor="let item of userCommands">
        <div class="col">
          <h6>{{ item?.text }}</h6>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="command_header">
        <div class="col">
          <h5>Acceptable Commands</h5>
        </div>
      </div>
      <div class="body_row" *ngFor="let item of allowedCommand">
        <div class="col">
          <h6>{{ item.text }}</h6>
        </div>
      </div>
    </div>
  </section>
</div>
