.container {
  width: 100vw;
  min-height: 100vw;
  padding: 0px 20px 20px 20px;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid blue;
}

h1 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

button {
  padding: 10px 40px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: rgb(161, 213, 239);
}

button img {
  width: 40px;
  height: 40px;
}

.speech_section{
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 15px;
}

.speech_header{
  padding: 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.speech_header h1{
  font-size: 20px;
}

.speech_body{
  padding: 10px;
  height: 140px;
  width: 100%;
  font-size: 18px;
  overflow-y: auto;
}

.command_section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px;
}

.command_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: rgb(212, 212, 212);
}

.left {
  width: 80%;
}

.right {
  width: 35%;
}

.right .col,
.left .col {
  width: 100%;
  padding: 20px 10px;
  border: 2px solid rgb(1, 1, 1);
}

.body_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.status {
  font-size: 22px;
}

h6 {
  font-size: 19px;
}
